.searchbar {

  &__input {
    position: relative;
    border-radius: .25rem !important;
  }

  &__icon {
    position: absolute;
    color: lightgrey;
    right: .75rem;
    top: .35rem;
    z-index: 1000;
  }

  &__suggestionList {

  }

}